<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/weatherIcon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site created by Maor Levy. It uses data from mapbox.com and weatherstack.com</p>
        <img src="/img/Maor_profile.jpg" alt="" class="portrait"/>
    </div> 
    {{>footer}}
</body>
</html>